celery
redis
amqp
flower
flask
flask-restful
requests
flask-script
flask-cors
flask-sqlalchemy
flask-migrate
flask-marshmallow
marshmallow-sqlalchemy
psycopg2-binary
matplotlib
pandas
numpy
redis